extends layout

block content
  h1= title
  #articles
    - each post in posts
      div.post
        div.created_at= post.created_at
        div.title
          a(href="/post/"+post._id)= post.title
        div.body= post.body