extends layout

block content
  h1= title
  form(method='post', action='/post/new', enctype="multipart/form-data")
    div
      label(for='title') 제목
      input(type='text', name='title', id='title')
    div
      label(for='body') 내용
      textarea(name='body', id='body')
    div
      label(for='file') 파일
      input(type='file', name='file')
    div
      button(type='submit', class='btn') submit